.task-table {
    .action-title {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ant-table-thead {
        .ant-table-cell {
            color: #3D446E;
            user-select: none;
        }
    }
    .ant-table {
        border-bottom: 1px #EBECF0 solid;
    }
}

.select-content {
    margin-left: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 24px;
    .count {
        min-width: 100px;
        white-space: nowrap;
    }
    .ant-btn {
        margin-left: 12px;
    }
}

.ant-table-pagination.ant-pagination {
    margin: 12px !important;
}

.table-color-content {
    .score {
        width: 48px;
        height: 20px;
        border-radius: 12px;
        text-align: center;
        color: #FFF;
        font-size: 12px;
    }
    .red {
        background-color: red;
    }
    .orange {
        background-color: #FA3;
    }
    .green {
        background-color: #0C6;
    }
}
