.home-content {
    height: 100%;
    background-color: #F4F7FA;
    display: flex;
    flex-direction: column;
    .top-content {
        height: calc(16vh + 50px);
        .top-bg {
            width: 100%;
            height: calc(16vh + 50px);
            background-image: url("../../assets/top-bg.png");
            background-position: top;
        }
        .logo {
            display: flex;
            align-items: center;
            position: absolute;
            top: 20px;
            left: 20px;
            img {
                width: 50px;
                height: 50px;
            }
            div {
                color: #FFF;
                font-size: 28px;
                font-weight: 600;
                font-family: cursive;
                margin-left: 20px;
            }
        }
        .run-input {
            width: 820px;
            position: absolute;
            top: calc(12vh + 25px);
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            .ant-input-group {
                .ant-input {
                    height: 50px;
                }
                .ant-btn {
                    width: 140px;
                    height: 50px;
                }
                .ant-input:focus, .ant-input-focused {
                    box-shadow: none;
                }
            }
        }
    }
    .content {
        flex: 1;
        .box {
            height: 100%;
            padding: 16px;
            display: flex;
        }
    }
}
