.project-box {
    width: 200px;
    height: calc(100vh - 90px - 32px);
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 #EEE;
    overflow: auto;
    .project-item {
        padding: 8px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active {
            background-color: #87CEFAA8;
        }
        img {
            width: 40px;
            height: 40px;
        }
        .name {
            font-size: 14px;
            padding: 0 10px;
        }
    }
}
