.version-box {
    flex: 1;
    max-width: calc(100vw - 244px);
    margin-left: 12px;
    background-color: #FFF;
    .top-box {
        padding: 12px 12px 0;
        display: flex;
        justify-content: space-between;
        .search-params {
            flex: 1;
            margin-right: 20px;
            &-item {
                margin-bottom: 12px;
            }
            .ant-select {
                width: 180px;
                margin-right: 12px;
            }
            .ant-picker-range {
                width: 240px;
            }
        }
        .left-btn {
            margin-left: 12px;
        }
    }
}
