.version-box {
    flex: 1;
    max-width: calc(100vw - 244px);
    margin-left: 12px;
    background-color: #FFF;
    .ant-tabs-extra-content {
        margin-left: 270px;
    }
    .ant-tabs-content-holder {
        padding: 0 16px;
    }
    .ant-tabs-nav {
        height: 52px;
        margin-right: 16px;
        .ant-tabs-nav-wrap {
            margin: 12px 0 0 16px;
        }
        .ant-tabs-nav-operations {
            margin-top: 12px;
        }
    }
    .btn-left {
        margin-left: 12px;
    }
}
